@import "@fontsource/dancing-script";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.font-dancing-script {
    font-family: "Dancing Script", cursive;
}

html,
body {
	@apply h-full overflow-hidden;
}
